.#{$ns}radio,
.#{$ns}checkbox {
  @include appearance();
  border: 1px solid $borderColorPrimary;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  outline: 0;
  &.#{$ns}radio {
    border-radius: 50%;
  }
  &:checked {
    background-color: #47d873;
    border: 1px solid #47d873;
    &:after {
      content: "";
      position: absolute;
      left: 4px;
      top: 5px;
      width: 11px;
      height: 6px;
      background-color: transparent;
      border-width: 3px;
      border-color: #fff;
      border-style: solid;
      border-top: none;
      border-right: none;
      @include rotate(-45deg);
      .sm & {
        border-width: 2px;
        left: 2px;
        top: 3px;
      }
    }
  }
  &.sm {
    height: 16px;
    width: 16px;
    &:checked {
      background-color: #47d873;
      border: 1px solid #47d873;
      &:after {
        width: 10px;
        height: 5px;
        border-width: 2px;
        left: 2.2px;
        top: 2.8px;
      }
    }
  }
  &:disabled {
    border: 1px solid #f1f1f1;
  }
}

.#{$ns}toggle {
  @include appearance();
  position: relative;
  display: inline-block;
  background-color: #ddddde;
  height: $listContentHeight;
  width: 3 * $listContentHeight;
  border: none;
  border-radius: 50px;
  @include transition(all 0.1s ease-in);
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    @include transition(box-shadow 0.1s ease-in);
  }
  &:before {
    content: ' ';
    position: absolute;
    background: #bebec1;
    top: 50%;
    left: 1px;
    z-index: 1;
    width: $listContentHeight * 1.4;
    height: $listContentHeight * 1.4;
    margin-top: -($listContentHeight * 0.7);
    border-radius: 50%;
    @include transition(all 0.1s ease-in);
  }

  &:active {
    &:before {
      width: $listContentHeight * 1.5;
    }
  }
  &:checked {
    background: #ffcb7f;
    &:before {
      left: auto;
      right: 0;
      background: #ff9800;
    }
    &:active {
      &:before {
        width: $listContentHeight * 1.5;
        left: $listContentHeight * 1.5;
      }
    }
  }
}

.#{$ns}input {
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid $borderColorPrimary;
  border-radius: $borderRadius;
  padding: 0 8px;
  line-height: strip-units($btnHeight) / strip-units($btnFontSize);
  min-height: $btnHeight;
  outline: none;
}

.#{$ns}select {
  border: 1px solid $borderColorPrimary;
  display: block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  min-height: $btnHeight;
  line-height: strip-units($btnHeight) / strip-units($btnFontSize);
  padding: 0 8px;
  &:after {
    content: "";
    right: 8px;
    top: 50%;
    position: absolute;
    @include translateY(-50%);
    @include arrow('bottom', 6px, #ccc);
  }
  select {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include appearance();
  }

}