.#{$ns}list {
  background-color: $listBgPrimary;
  border-radius: $borderRadius;

  & > .#{$ns}list-item,
  & > li {
    @include flexbox();
    position: relative;
    border-bottom: 1px solid $borderColorPrimary;
    line-height: $listContentHeight;
    padding: $gapSize $gapSize $gapSize 0;
    margin-left: $gapSize;
    margin-top: -1px;

    &:first-child {
      margin-top: 0;
      border-radius: $borderRadius $borderRadius 0 0;
    }
    &:last-child {
      border-bottom: none;
      border-radius: 0 0 $borderRadius $borderRadius;
    }

    &.list-link {
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        right: 12px;
        top: 50%;
        margin-top: -5px;
        @include caret($borderColorPrimary, 10px, 2px, 45deg);
      }
      .list-inner {
        padding-right: 22px;
        &:hover,
        &:active {
          //background-color: $bgColorActive;
        }
      }
    }

    &.list-header {
      background-color: $listHeaderBg;
      color: #666;
      padding: $gapSize $gapSize $gapSize - 4;
      margin-left: 0;
    }
    & + .list-header,
    &.list-footer {
      border-top: 1px solid $borderColorPrimary;
      margin-left: 0;
      padding: $gapSize;
    }

    .list-inner {
      @include flexbox();
      @include flex();
      padding: $gapSize;
      margin: -$gapSize;
    }
    .list-content {
      @include flex();
    }

    label + .list-content {
      margin-left: 5px;
    }

    .#{$ns}input {
      border: none;
      width: 100%;
      display: block;
      line-height: $listContentHeight;
      padding: 0;
      min-height: 0;
    }
  }
}